.wraps{
    margin-top: 40px;
    /* border:solid green; */
    height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a8b8ff;
    /* gap:50px */
    margin: 50px;
}
.cardsls{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}

.imgs img{
    width: 250px;
    height: 250px;
}

.imgs{
    position: relative;
    top:-40px;
}

.names{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}