.wrap{
    /* margin-top: 40px; */
    /* border:solid green; */
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a8b8ff;
    /* gap:50px */
    margin: 50px;
}
.cardsl{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 250px;
    height: 200px;
}

.img{
    position: relative;
    /* top:-0px; */
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding-bottom: 90px;
}